{extend name="public:base"}

{block name="content"}

<div class="container-fluid">
    {volist name="convens" id="conven"}
    <div class="row noticeList">
        <a href="{:url('conven/check',['id'=>$conven.id])}">
            <div class="col-xs-2">
                <img class="noticeImg" src="{:get_file_path($conven.logo)}" width="80px" />
            </div>
            <div class="col-xs-10">
                <p class="title">{$conven.title}</p><br/>
                <p class="intro">发布者:{$conven.posted_id}</p>
                <p class="info"> <span class="pull-right">{:date('Y-m-s',$conven.update_time)}</span> </p>
            </div>
        </a>
    </div>
    {/volist}
</div>

{/block}