{extend name="public:base"}

{block name="content"}

<div class="container-fluid">
    <div class="blank"></div>
    <h3 class="noticeDetailTitle"><strong>关于我们</strong></h3>
    <div class="noticeDetailContent">
        北京天坪慧诚物业服务评估监理有限公司成立于2010年11月，注册资金500万元，是根据《中华人民共和国物权法》、住建部《物业管理条例》、《北京市物业管理办法》及《北京市物业服务第三方评估监理管理办法》等相关法律法规组建，专业从事物业服务评估监理工作的第三方评估监理机构。具有第一批北京市住房和城乡建设委员会颁发的合法执业备案资质。
        公司由拥有多年管理经验的专业电气工程师、暖通工程师、结构工程师、注册物业管理师、注册会计师等组成的物业服务评估监理技术团队。
        公司始终秉承专业、严谨、客观、公正的服务理念，并在每一个受托评估监理项目中贯彻精益求精，评估有据的工作原则，确保评估结论的准确性、合法性和可追溯性，维护委托方的合法权益。
        公司多年来与知名企业合作，为万科地产、远洋地产、中信地产、中海地产、中铁置业、首开置业、华远置业等多家知名上市企业提供服务，我们专业的技术标准，客观、公正的严谨作风得到了众多企业的充分认可与好评。
        北京天坪慧诚物业服务评估监理有限公司作为两届北京市物业服务评估监理协会监事长单位，在第三方物业服务评估监理行业的发展中也积极参与了行业的建设发展工作，并为全国其他省市学习建立第三方物业服务评估监理行业提供了大量的建设性意见。做为全国第一批从事物业服务评估监理工作的企业，我们愿意为第三方物业服务评估监理事业在全国各兄弟省市的发展做出我们的专业贡献。
    </div>
</div>
{/block}