{extend name="public:base"}

{block name="content"}

<div class="container-fluid">
    {volist name="plots" id="plot"}
    <div class="row noticeList">
        <a href="{:url('plot/check',['id'=>$plot.id])}">
            <div class="col-xs-2">
                <img class="noticeImg" src="{:get_file_path($plot.logo)}" width="80px" />
            </div>
            <div class="col-xs-10">
                <p class="title">{$plot.title}</p><br/>
                <p class="intro">发布者：{$plot.posted_id}</p>
                <p class="info"> <span class="pull-right">{:date('Y-m-s',$plot.update_time)}</span> </p>
            </div>
        </a>
    </div>
    {/volist}
</div>

{/block}